<%- include('header') -%>
<body>
<%- include('nav') -%>

<div class="container">
    <div class="row p-5 pt-2">
        <div class="col-4 column">
            <div class="row">
                <a>Parts installed</a>
            </div>
            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item">Transmission rings 2021.02.24</li>
                    <li class="list-group-item">breaks 2021.03.13</li>
                    <li class="list-group-item">Oil change 2021.03.13</li>
                </ul>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-6 column">
            <div class="row mb-3">
                <div class="d-grid gap-3">
                  <button type="button" class="p-2 btn btn-primary">Add new car</button>
                  <button type="button" class="p-2 btn btn-primary">Edit car info</button>
                  <button type="button" class="p-2 btn btn-primary">Delete car</button>
                  <button type="button" class="p-2 btn btn-primary">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>
<%- include('footer') -%>
</body>
</html>