<%- include('header') -%>
<body>

<div class="login-title"> <h1>Cars and Parts LOGIN</h1> </div>
<img class="login-img" src="/images/login-picture-2.jpg">
<form class="login-form" method="POST">
    <div class="login-container container form-group">
        <label>Password : </label>
        <label class="pass-label" for="pass">
            <input type="password" class="form-control" id="pass" placeholder="Enter Password" name="password" required>
        </label>
        <button type="submit">Login</button>
       <p class="align-content-center"><%= incorrectPassMessage%></p>

    </div>
</form>
<%- include('footer') -%>
</body>
</html>