<!doctype html>
<html lang="en">
<%- include('header') -%>
<body>
<%- include('nav') -%>
<div class="row">
    <div class="col-4 ms-4">
        <h1>Add the datas of your new part</h1>
        <form>
            <div class="mb-3">
                <label for="inputPartName" class="form-label">Part name</label>
                <input  class="form-control" id="inputPartName">
                <div id="partNameHelp" class="form-text">Example: Break fluid</div>
            </div>
            <div class="mb-3">
                <label for="inputDate" class="form-label">Construction date</label>
                <input type="date" class="form-control" id="inputDate">
                <div id="dateHelp" class="form-text">Date when it has been replaced</div>
            </div>

            <div class="row">
                <div class="col-2"><button type="submit" class="btn btn-primary">Apply</button></div>
                <div class="col-2"><button type="cancel" class="btn btn-primary">Cancel</button></div>
            </div>
        </form>
    </div>
</div>
<%- include('footer') -%>
</body>
</html>