
.button-part .flex-row{
    margin: 1em;
}
body{
    font-family: Calibri, Helvetica, sans-serif;
    background-image: url("public/images/jam-background.jpg");
    background-color: darkgrey;
}
button {
    background-color: darkcyan;
    width: 100%;
    color: black;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}
input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #93ced5;
    box-sizing: border-box;
}
.pass-label{
    width: 100%;
}
button:hover {
    opacity: 0.5;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
    background-color: #e6e7e7;
}
.login-container.container {
    padding: 25px;
    padding-top: 10px;
}
.login-title{
    text-align: center;
    background-color: darkgrey;
}
.login-title h1{
    font-family: 'Monoton', cursive;
    color: darkcyan;
}
.nav-title{
    font-family: 'Monoton', cursive;
    color: darkcyan;
}
.login-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.car-parts-list .list-group-item{
    background-color: lightsteelblue;
}

.car-parts-list li span {
    font-family: 'Gloria Hallelujah', cursive;
}

.car-list a div{
    font-family: 'Gloria Hallelujah', cursive;
}
.car-list .list-group-item {
    background-color: lightgray;
}
.car-list .list-group-item:hover {
    background-color: lightsteelblue;
    transition-duration: 0.5s;
}
.car-data-list .list-group-item{
    background-color: lightgray;
    border-width: medium;
    font-family: 'Gloria Hallelujah', cursive;
}
.car-data-list .list-group-item .me-auto{
    font-family: 'Gruppo', cursive;
    font-size: 30px;
}
.hovertext {
    position: relative;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}
